* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 12em;
    width: 12em;
}

#row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;
}

#square {
    height: 4em;
    width: 4em;
    border: 1px solid  black;
}